<h1>Flight <%= @flight.number %> Information</h1>

<section class='flight-info'>
  <p>
    Date: <%= @flight.date %><br>
    Time: <%= @flight.time %><br>
    Departure City: <%= @flight.departure_city %><br>
    Arrival City: <%= @flight.arrival_city %><br>
  </p>
</section>

<section class='airline'>
  <p><%= @flight.airline.name %></p>
</section>

<section class='passengers'>
  <ul>
    <% @flight.passengers.each do |passenger| %>
      <li><%= passenger.name %></li>
    <% end %>
  </ul>
</section>

<section class='passenger-type-counts'>
  Number of Minors on Flight: <%= @flight.minors_on_board %><br>
  Number of Adults on Flight: <%= @flight.adults_on_board %><br>
</section>
