<h1><%= @passenger.name %></h1>

<section class='flights'>
  <ul>
    <% @passenger.flights.each do |flight| %>
      <li><%= link_to "Flight #{flight.number}", "/flights/#{flight.id}" %></li>
    <% end %>
  </ul>
</section>

<section class='assign-flight'>
  <%= form_tag "/flight_passengers?passenger_id=#{@passenger.id}", method: :post do %>
    <%= label_tag :flight_id, 'Flight Number' %>
    <%= number_field_tag :flight_id %>
    <br>
    <%= submit_tag 'Assign Passenger to Flight' %>
  <% end %>
</section>
